<!--
Base template to create our lists.
EJS assumes at default that there is a folder called 'views' that containes the ejs files.
Goal is to pass logic from app.js into ejs file to dynamically update what client sees.
-->


<!DOCTYPE HTML>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
  </head>
  <body>

    <h1>It's a <%= kindOfDay %>!</h1>

  </body>
</html>
